*, *:before, *:after {
	box-sizing: inherit;
}

html, body {
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
	--appColorPrimary: #88c0d0;
	--appColorPriAccent: #5e81ac;
	--appBGColor: #2e3440;
	--appBGColorAccent1: #3b4252;
	--appBGColorAccent2: #434c5e;
	--appBGColorModal: #434c5e;
	--appAccentColor: #a3be8c;
	--appTextColor: #eceff4;
	--appLogoColor1: #bf616a;
	--appLogoColor2: #ebcb8b;
}

body {
	background-color: var(--appBGColor);
	color: var(--appTextColor);
	font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	height: 100vh;
	width: 100vw;
}

h1 {
	font-size: 2rem;
	user-select: none;
}

button {
	align-items: center;
	background-color: transparent;
	border: none;
	border-radius: 10px;
	color: var(--appLogoColor2);
	cursor: pointer;
	display: flex;
	font-family: 'Courier New', Courier, monospace;
	font-size: 1rem;
	font-weight: bold;
	justify-content: center;
	outline: none;
	padding: 10px;
	text-decoration: none;
	user-select: none;
	transition: background-color 0.2s;
	&:hover {
		background-color: rgba(94, 129, 172, 0.10);
	}
	&:focus {
		outline: 2px solid var(--appColorPrimary);
	}
}

a {
	&:focus {
		outline: 2px solid var(--appColorPrimary);
	}
}
